---
// SPDX-FileCopyrightText: 2021-2026 Roy Shilkrot <roy.shil@gmail.com>
// SPDX-FileCopyrightText: 2023-2026 Kaito Udagawa <umireon@kaito.tokyo>
// SPDX-FileCopyrightText: 2026 LeMegaGeek <d.github@chey.net>
//
// SPDX-License-Identifier: GPL-3.0-or-later

import { joinURL, withTrailingSlash } from "ufo";

import Layout from "./Layout.astro";

import { GITHUB_URL, PRODUCTION_BASE_URL } from "../lib/info.js";

interface Props {
  frontmatter: {
    pathname: string;
    lang: string;
    title: string;
    description: string;
  };
}

const { BASE_URL } = import.meta.env;
const { pathname, lang, title, description } = Astro.props.frontmatter;
const canonical = joinURL(PRODUCTION_BASE_URL, pathname);
---

<Layout
  lang={lang}
  title={title}
  description={description}
  canonical={canonical}
>
  <main id="main-content" class="content-panel prose">
    <slot />

    <nav class="page-nav" aria-label="Page navigation">
      <a href={withTrailingSlash(BASE_URL)}>BGOBS home</a>
      <a href={withTrailingSlash(GITHUB_URL)}>GitHub repository</a>
    </nav>
  </main>
</Layout>
